@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #fe724c;
  --primary-color-dark: #d6512c;
  --text-dark: #122b51;
  --text-light: #6b7d92;
  --extra-light: #f4f4f4;
  --white: #ffffff;
  --max-width: 1200px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--text-dark);
    text-align: center;
}


.section__description {
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
}
.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html, 
body {
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  gap: 2rem;
  z-index: 9;
}
.nav__logo img {
  max-width: 120px;
}

.nav__btns  {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__btns .btn {
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
}
.nav__btns .btn span:nth-child(2) {
    display: none;
}

.nav__btns .btn:nth-child(1) {
    color: var(--text-dark);
    background-color: var(--extra-light);
}
.nav__btns .btn:nth-child(1):hover {
    color: var(--white);
    background-color: var(--primary-color);
}



@media (width > 768px) {
    nav {
        position: relative;
        padding: 2rem 1rem;
        background-color: transparent;
        
    }
    .nav__btns .btn {
        padding: 0.75rem 2rem;
        font-size: 1rem;
    }

    .nav__btns .btn span:nth-child(1) {
        display: none;
    }
    .nav__btns .btn span:nth-child(2) {
        display: block;
    }
}
